header{
    background-color: #1b263b;
    color: rgb(255, 255, 255);
    padding: 20px;   
}
header h1{
    margin-left: 20px;
    font-weight: 500;
}
main{
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 50px;
    height: 50%;
    background-color: #1b263b;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(50, 228, 235, 0.4), 0 0 20px rgba(50, 228, 235, 0.9);
    color: white;
}

section h2{
    font-size: 50px;
    margin: 50px 0 80px 0;
}

section input{
    font-size: 16px;
    border: none;
    border-radius: 150px;
    height: 60px;
    width: 500px;
    background-color: #12151a;
    border: 2px solid rgba(19, 231, 160, 0.8);
    color: white;
}

section button{
    font-size: 16px;
    border: none;
    border-radius: 150px;
    height: 60px;
    width: 120px;
    background-color: rgba(19, 231, 160, 0.8);
    font-weight: bolder;
}

section button:hover{
    background-color: rgba(15, 170, 118, 0.8);
}

.result{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    cursor: default;
}

.pop-up{
    position: fixed;
    bottom: 20px;
    background-color: aliceblue;
    animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
  0%   { opacity: 0; }
  15%  { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}